* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-width: 700px;
  background-color: red;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}
.container {
  width: 80%;
  height: 90%;
  background-color: red;
}
.header {
  width: 100%;
  height: 70px;
  background-color: rgb(234, 234, 234);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.icons {
  color: rgb(177, 177, 177);
}
.icons i {
  margin: 0 10px;
  font-size: 22px;
}
.col_left {
  width: 35%;
  height: 100%;
  background-color: blue;
}
.disclaimer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgb(142, 218, 252);
}
.disclaimer .disclaimer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}
.disclaimer .disclaimer-icon i{
  font-size: 25px;
  color: rgb(142, 218, 252);
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: lightblue;
}
.avatar img {
  width: 100%;
}
.col_right {
  width: 65%;
  height: 100%;
  background-color: yellow;
}
